<lasso-page package-path="./browser.json"/>

<layout-use("src/layouts/default/template.marko")>
<layout-put into="title">
    Marko Widgets UI Components Playground
</layout-put>
<layout-put into="yield">

    <ons-page>
    <app-videos></app-videos>
    </ons-page>
</layout-put>
</layout-use>